.sidebar {
  width: 200px;
  background-color: #f2f2f2;
  padding: 20px;
  height: 100vh;
}

.logo {
  text-align: center;
  margin-bottom: 20px;
}

.logo h2 {
  color: #333;
  font-size: 20px;
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-menu li {
  margin-bottom: 10px;
}

.sidebar-menu a {
  display: flex;
  align-items: center;
  padding: 10px;
  color: #555;
  text-decoration: none;
}

.sidebar-menu a:hover {
  background-color: #e0e0e0;
  color: #333;
}

.sidebar-menu a svg {
  margin-right: 8px;
}

.layout-container.wrapped .sidebar-menu {
  display: none;
}

.layout-container.wrapped .hamburger-menu {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 10px;
  color: #555;
  cursor: pointer;
}

.layout-container.wrapped .hamburger-menu svg {
  font-size: 18px;
  color: red;
  cursor: pointer;
}

.wrapped {
  width: 80px;
  display: flex;
  justify-content: left;
  margin: 0;
  cursor: pointer;
}

.hamburger-menu.cancel {
  position: absolute;
  top: 10px;
  left: 10px;
}

.hamburger-menu.cancel svg {
  font-size: 18px;
  color: red;
}

.sidebar-menu li.active {
  background-color: hsla(240, 100%, 17%, 0.356);
  color: white;
}
