/* Register.css */

.register-container {
  margin:10px auto
}
.card{
  margin: 0 0 0 50px;
  padding: 10px;
}
.register-form {
  display: flex;
  justify-content: center;
}

.register-column {
  padding: 0px 10px;
}

.register-card {
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.register-card .form-group {
  margin-bottom: 20px;
}

.register-card .form-label {
  margin-bottom: 5px;
}

.register-card .form-select {
  width: 100%;
}

.register-card .btn {
  width: 100%;
}

@media (max-width: 768px) {
  .register-column {
    margin-top: 20px;
  }
}
