.register-container {
  justify-content: center;
  height: 500px;
}

.register-form {
  padding: 4px;
  display: flex;
}

.register-column {
  width: 500px;
}

.register-card {
  border-radius: 3px;
  margin-top: 5px;
  padding: 20px;
  background-color: #f8f8f8;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.register-card:hover {
  transform: translateY(-2px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.register-form-label {
  font-weight: bold;
}

.register-form-control {
  border-radius: 5px;
  border: 1px solid #ffffff;
  padding: 8px 12px;
  transition: border-color 0.3s ease;
  width: 100%;
}

.register-form-control:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0px 0px 4px rgba(0, 123, 255, 0.4);
}

.register-select {
  border-radius: 5px;
  border: 1px solid #fffdfd;
  padding: 8px 12px;
  transition: border-color 0.3s ease;
  background-color: #fff;
  width: 100%;
}

.register-select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0px 0px 4px rgba(0, 123, 255, 0.4);
}

.register-submit-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-submit-btn:hover {
  background-color: #0056b3;
}
