.sent-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

.sent-table th,
.sent-table td {
  padding: 12px;
  text-align: left;
}

.sent-table th {
  background-color: #f2f2f2;
}

.sent-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.status-icons {
  display: flex;
  justify-content: center;
  margin: 1px;
}

.status-icon {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  text-align: center;
  width: fit-content;
  margin: 1.5px;
}

.status-icon-green {
  background-color: green;
}

.status-icon-red {
  background-color: red;
}

.rejected-document {
  background-color: #ffe6e6; /* Light red background */
}